#timebrush_map{
    vertical-align: top;
    width: 1700px;
}

#donut_column {
    font-style: italic; 
    color: white; 
    text-align: center;
}


#visualisation_title{
    font-family: arial; 
    color: white;
    font-size: 60px;
    background-color: #151a1e;
    border-radius: 12px;
    width: 1886px;
}

#content_div1{
    padding-top: 8px;
    width: 1886px;
    background-color: #151a1e;
    border-radius: 12px;
    margin-bottom: 100px;
}

#content_div2{
    padding-top: 8px;
    width: 1886px;
    background-color: #151a1e;
    border-radius: 12px;
    margin-bottom: 50px;
}

/* Create three equal columns that floats next to each other */
.column0 {
    float: left;
    width: 50%;
    padding-right: 100px;
    padding-left: 0%;
    padding-top: 0%;
}

.column1 {
    float: left;
    width: 565px;
    padding-right: 100px;
    padding-left: 0%;
    padding-top: 0%;
}

.column2 {
    float: left;
    width: 570px;
    padding-right: 100px;
    padding-left: 0%;
}

.column3 {
    float: left;
    width: 500px;
    padding-left: 0%;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

p {
    text-align: justify;
}